extends ../layout
block content
    .container
        h1 2015 Formula One Drivers
        ul.list-group
            for driver in drivers
                li.list-group-item
                    a(href="/drivers/#{driver._id}")= driver.name