extends ../layout
block content
    .container
        h1 Team
        table.table.table-striped
            thead
                tr
                    th Name
                    th Cars
            tbody
            tr
                td= team.name 
                td= team.cars