extends ../layout
block content
    .container
        h1 2015 Formula One Teams
        ul.list-group
            for team in teams
                li.list-group-item
                    a(href="/teams/#{team._id}")= team.name